1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero = 4
print(numero)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(numero)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = 'yuli'

5) Crear una variable que contenga un número complejo

In [6]:
numero_complejo = 6 + 7j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
numero_pi = 3.14166
round(numero_pi, 4)

3.1417

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
boleano = 'True'
boleano2 = True

# la primer variable es una cadena de caracteres y la segunda variables es un boleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [20]:
type(boleano)

str

In [21]:
type(boleano2)

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [22]:
suma = 5 + 4.3

11) Realizar una operación de suma de números complejos

In [27]:
num_complex1 = 5j + 7j
num_complex2 = 3 + 5j
suma = num_complex1 + num_complex2
print(suma)

(3+17j)

12) Realizar una operación de suma de un número real y otro complejo

In [30]:
print( 1.8 + (4j + 6))

(7.8+4j)

13) Realizar una operación de multiplicación

In [31]:
4 * 8

32

14) Mostrar el resultado de elevar 2 a la octava potencia

In [32]:
2 ** 8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [34]:
coeficiente = 27 / 4
print(coeficiente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [35]:
parte_entera = 27 // 4
print(parte_entera)

6

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [43]:
(4 * parte_entera) + resto

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [48]:
operacion_alpha_numericas = 'yuli ' + 'pardo'
print(operacion_alpha_numericas)

yuli pardo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [49]:
'2' == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [50]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [51]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [57]:
tres = 3
tres -= 3
print(tres)

0

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [58]:
1<<2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [59]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
2 + 2

4

In [62]:
float(2) + float(2)

4.0

In [63]:
str(2) + str(2)

'22'

In [64]:
bool(2) + bool(2)

2

26) Realizar una operación válida entre valores de tipo entero y string

In [60]:
2 + int('2')

4

In [66]:
ja = 'ja'
risa = ja * 4
print(risa)

jajajaja